@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:focus {
  outline: 0;
  box-shadow: blue;
}

body,
input,
text-area,
button {
  font: 400 1rem Roboto, sans-serif;
}

button {
  cursor: pointer;
}

.react-modal-edit-overlay {
  background: rgba(119, 119, 119, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-modal-edit-content {
  width: 100%;
  padding: 16px;
  max-width: 660px;
  height: auto;
  margin: 0 1.5rem;
  background: #ffffff;
  border-radius: 8px;
  border: 2px solid rgb(2 132 199);
}

